@charset "utf-8";
/* CSS Document */
body {
	font-family: "Open Sans", "Helvetica", "Arial";	
}

div {
 	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;	
}

.white {
	color:white;
}

#main {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
#block {
	position: relative;
	margin: auto;
	top: 20px;
	width: 700px;
	height: 600px;
	z-index: 1;
}

/* ------------------------------------ Header ------------------------------------ */
#header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 40px;
	z-index: 3;
}

#nav {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	height: 40px;

	text-align: center;
	line-height: 40px;

}

#gamePage-toggle {
	position: relative;
	left: 0px;
	top: 0px;
	width: 30%;
	height: 40px;
	display: inline-block;
	border-top: 0px;
	margin: 5px;
	margin-top: 0px;
	background: rgb(77, 130, 214);
    color: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

#achievementsPage-toggle {
	position: relative;
	left: 0px;
	top: 0px;
	width: 30%;
	height: 40px;
	display: inline-block;
	border-top: 0px;
	margin: 5px;
	margin-top: 0px;
	background: rgb(77, 130, 214);
    color: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
#TODOPage-toggle {
	position: relative;
	left: 0px;
	top: 0px;
	width: 30%;
	height: 40px;
	display: inline-block;
	/*border: 1px solid #DDD;
	border-top: 0px;*/
	margin: 5px;
	margin-top: 0px;
	color: white;

}

/* ------------------------------ Achievements Page ------------------------------- */

#achievementsPage {
	position: relative;
	overflow-y: scroll;
	margin: auto;
	margin-top: -550px;
	top: 0px;
	width: 657px;
	height: 600px;
	z-index: 10;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	background-color: white;
}


#achievBox {
	position: relative;
	top: 0px;
	left: 0px;
	margin: 25px;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 600px;
	height: 100px;
	font-size: 11pt;
	display: table;

}

#achievSubbox {
	position: relative;
	top: 0px;
	left: 0px;
	width: 300px;
	height: 100px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.2s ease-in-out;
}
#achievSubbox:hover {
	box-shadow: 0 10px 15px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
}

#achievIcon {
	position: relative;
	top: 18px;
	left: 18px;
	width: 64px;
	height: 64px; 
}

#achievName {
	position: relative;
	top: -25px;
	left: 100px;
	width: 170px;
	height: 25px; 
	font-size: 13pt;
	line-height: normal;
	vertical-align: middle;
	word-wrap: break-word;	
}

#achievMsg {
	position: relative;
	display: table-cell;
	top: -90px;
	left: 325px;
	margin-left: 25px;
	width: 250px;
	height: 100px;
	font-size: 11pt;
	line-height: normal;
	vertical-align: middle;
	word-wrap: break-word;
	color: black;
	font-weight: normal;
}

.achievCompleted {
	background-color: rgb(87, 191, 87);
	color: white;
	font-weight: bold;
}

.achievIncomplete {
	background-color: #DDD;
	color: black;
	font-weight: bold;
}
    
/* ------------------------------------- Game ------------------------------------- */

#buy {	
	position: absolute;
	font-size: 11pt;
	line-height: 25px;
	left: 20px;
	top: 70px;
	width: 225px;
	height: 25px;
	z-index: 1;
	text-align: center;
	border: 1px #DDD solid;
	cursor: pointer; 
	cursor: hand;
}
#money-current {
	position: absolute;
	left: 265px;
	top: 70px;
	width: 150px;
	height: 25px;
	z-index: 2;
}

#income {
	position: absolute;
	left: 265px;
	top: 45px;
	width: 150px;
	height: 25px;
	z-index: 2;
	font-size: 10pt;
}

#save {
	position: absolute;
	font-size: 11pt;
	line-height: 25px;
	right: 0px;
	top: 100px;
	width: 100px;
	height: 25px;
	z-index: 1;
	text-align: center;
	border: 1px #DDD solid;
	cursor: pointer; 
	cursor: hand;
}

#load {
	position: absolute;
	font-size: 11pt;
	line-height: 25px;
	right: 0px;
	top: 135px;
	width: 100px;
	height: 25px;
	z-index: 1;
	text-align: center;
	border: 1px #DDD solid;
	cursor: pointer; 
	cursor: hand;
}

#requestNewFeature {
	position: absolute;
	font-size: 11pt;
	line-height: 25px;
	right: 110px;
	top: 100px;
	width: 200px;
	height: 25px;
	z-index: 1;
	text-align: center;
	border: 1px #DDD solid;
	cursor: pointer; 
	cursor: hand;
}

#milestone-label { 							
	position: absolute;
	font-size: 11pt;
	line-height: 25px;
	right: 0px;
	top: 70px;
	width: 250px;
	height: 25px;
	z-index: 1;
	text-align: right;
}

				/* ----- Labels ------ */

#slave-label, #factory-label, #corporation-label, #esports-label { 							
	position: absolute;
	font-size: 11pt;
	line-height: 25px;
	left: 120px;
	width: 200px;
	height: 25px;
	z-index: 1;
	text-align: center;
	cursor: pointer; 
	cursor: hand;
} 
#slave-label { 							
	top: 105px;
} 
#factory-label { 
	top: 140px;
} 
#corporation-label {
	top: 175px;
}
#esports-label {
	top: 210px;
}

/* --------------------------------------- Get & Current --------------------------------------- */

#slave-gc, #factory-gc, #corporation-gc, #esports-gc {
	position: absolute;
	line-height: 25px;
	left: 20px;
	width: 75px;
	height: 25px;
	z-index: 1;
	border: 1px #DDD solid;
	cursor: pointer; 
	text-align: center;
	
}
#slave-gc {
	top: 105px;
}
#factory-gc {									
	top: 140px;
}
#corporation-gc {									
	top: 175px;
}
#esports-gc {									
	top: 210px;
}

#slave-current, #factory-current, #corporation-current, #esports-current {
	position: absolute;
	line-height: 25px;
	left: 0px;
	width: 50px;
	height: 25px;
	z-index: 1;
	top:0px;
}

#slave-get, #factory-get, #corporation-get, #esports-get {	
	position: absolute;
	font-size: 11pt;
	line-height: 25px;
	left: 50px;
	width: 25px;
	height: 25px;
	z-index: 1;
	text-align: center;
	border-left: 1px #DDD solid;
	cursor: pointer; 
	cursor: hand;
	top:0px;
}

			/* ----- Console ------ */

#console-toggle, #console-clear, #secretstash-toggle {
	position: absolute;
	font-size: 11pt;
	line-height: 25px;
	z-index: 100;
	text-align: center;
	border: 1px #DDD solid;
	cursor: pointer; 
	cursor: hand;
}
#console-toggle{
	left: 0px;
	bottom: 200px;
	width: 100px;
	height: 25px;
}
#console-clear{
	right: 0px;
	bottom: 200px;
	width: 100px;
	height: 25px;
}

/* -------------------------------- Hackers Box -------------------------------- */

#hackers-toggle {						/* The toggle not inside the box, but absolute to the page */
	position: absolute;
	right: 0px;
	top: 175px;
	z-index: 1000;
	height: 25px;

	padding-left: 5px;
	padding-right: 5px;
	line-height: 25px;
	font-size: 11pt;
	text-align: center;

	background: #000;
	color: #3F0;
	border: 1px #DDD solid;

	cursor: pointer; 
	cursor: hand;
}

#hackers-toggle:hover {
	color: black;
	background-color: #3F0;
}
#hackers-toggle:active {
	background: #D0FFC4;
}

#hackers-count{
	position: relative;
	top: 10px;
	left: 10px;
	margin: 0px;
	width: 200px;
	height: 30px;

	font-size: 11pt;
	line-height: 30px;
	padding-left: 10px;

	color: #3F0;

	cursor: pointer;

}

#hackers-box{
	position: absolute;
	font-size: 10pt;
	overflow-y: hidden;
	right: 0px;
	top: 175px;
	width: 300px;
	height: 275px;
	z-index: 100;
	border: 1px #DDD solid;
	color: #3F0;
	background-color: black;
}

#hackers-box:hover{
	overflow-y: auto;
}

.HSI0, .HSI1, .HSI2, .HSI3, .HSI4, .HSI5, .HSI6, .HSI7, .HSI8, .HSI9, .HSI10 {
	position: relative;
	top: 0px;
	left: 0px;
	margin: 20px;
	width: 260px;
	height: 45px;
	border: 1px #AAA solid;

	color: #3F0;
	background: #000;

	cursor: pointer;
}

.HSA0, .HSA1, .HSA2, .HSA3, .HSA4, .HSA5, .HSA6, .HSA7, .HSA8, .HSA9, .HSA10 {
	position: relative;
	top: 0px;
	left: 0px;
	margin: 20px;
	width: 260px;
	height: 45px;
	border: 1px #AAA solid;

	color: #3F0;
	background: #222;

	cursor: pointer;
}

#hackers-nick {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 25px;
	margin: 10px;
	margin-left: 15px;
	line-height: 25px;
	font-size: 11pt;
	font-weight: bold;
}

#hackers-cost {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 25px;
	margin: 10px;
	margin-left: 10px;
	border: 1px #DDD solid;
	line-height: 25px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 10pt;
}
#hackers-tick {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 25px;
	margin: 10px;
	margin-left: 10px;
	line-height: 25px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 10pt;
}
#hackers-cost:hover {
	background: #3F0;
	color: black;
}
#hackers-cost:active {
	background: #D0FFC4;
	color: black;
}

#hackers-infobox {
	position: absolute;
	right: 0px;
	top: -75px;
	width: 280px;
	height: 150px;
	
	background: #000;
	border: 1px solid #DDD;
	color: #EEE;
	z-index: 100;
	padding: 10px;
}

.hacker-data{
	padding-left: 15px;
	color: #3F0;
}
.hacker-data-description{
	font-size:8pt;
}
/* --------------------------- Hover and Active States --------------------------- */

#gamePage-toggle:hover, #achievementsPage-toggle:hover /*#TODOPage-toggle:hover,*/ {
	background: rgb(90, 145, 230);
    color: white;
	cursor: pointer; 
	cursor: hand;	
}

#gamePage-toggle:active, #achievementsPage-toggle:active /*#TODOPage-toggle:active,*/ {
	background: rgb(120, 200, 280);
    color: white;
	cursor: pointer; 
	cursor: hand;
}


#buy:hover, #save:hover, #load:hover, #requestNewFeature:hover, 
#slave-get:hover, #factory-get:hover, #corporation-get:hover, #esports-get:hover,
#console-toggle:hover, #console-clear:hover, #secretstash-toggle:hover {
	background-color:#DDD;
	cursor: pointer; 
	cursor: hand;	
}

#buy:active, #save:active, #load:active, #requestNewFeature:active, 
#slave-get:active, #factory-get:active, #corporation-get:active, #esports-get:active,
#console-toggle:active, #console-clear:active, #secretstash-toggle:active {
	background-color:#CCC;
	cursor: pointer; 
	cursor: hand;	
}


#console {
	position: absolute;
	overflow-y: scroll;
	font-size: 10pt;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 200px;
	z-index: 100;
	text-align: left;
	border-top: 1px #DDD solid;
	background-color: white;
}

#secretstash-toggle{
	left: 101px;
	bottom: 200px;
	width: 100px;
	height: 25px;
}


