@charset "utf-8";
/* CSS Document */
body {
	font-family: "Open Sans", "Helvetica", "Arial";	
}

div {
 	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;	
}

.white {
	color:white;
}

#main {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
#block {
	position: relative;
	margin: auto;
	top: 20px;
	width: 700px;
	height: 600px;
	z-index: 1;
}

/* ------------------------------------ Header ------------------------------------ */
#header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 40px;
	z-index: 3;
}

#nav {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	height: 40px;

	text-align: center;
	line-height: 40px;
}

#gamePage-toggle {
	position: relative;
	left: 0px;
	top: 0px;
	width: 30%;
	height: 40px;
	display: inline-block;
	border: 1px solid #DDD;
	border-top: 0px;
	margin: 5px;
	margin-top: 0px;
	background: rgb(77, 130, 214);
    color: white;
}

#achievementsPage-toggle {
	position: relative;
	left: 0px;
	top: 0px;
	width: 30%;
	height: 40px;
	display: inline-block;
	border: 1px solid #DDD;
	border-top: 0px;
	margin: 5px;
	margin-top: 0px;
	background: rgb(77, 130, 214);
    color: white;
}
#TODOPage-toggle {
	position: relative;
	left: 0px;
	top: 0px;
	width: 30%;
	height: 40px;
	display: inline-block;
	/*border: 1px solid #DDD;
	border-top: 0px;*/
	margin: 5px;
	margin-top: 0px;
	color: white;

}

/* ------------------------------ Achievements Page ------------------------------- */

#achievementsPage {
	position: relative;
	overflow-y: scroll;
	margin: auto;
	margin-top: -560px;
	top: 0px;
	width: 650px;
	height: 600px;
	z-index: 10;
	border:5px #DDD solid;
	background-color: white;
}


#achievBox {
	position: relative;
	top: 0px;
	left: 0px;
	margin: 25px;
	width: 600px;
	height: 100px;
	font-size: 11pt;
	display: table;
}

#achievSubbox {
	position: relative;
	top: 0px;
	left: 0px;
	width: 300px;
	height: 100px;
	border: 1px #DDD solid;
}

#achievIcon {
	position: relative;
	top: 18px;
	left: 18px;
	width: 64px;
	height: 64px; 
}

#achievName {
	position: relative;
	top: -25px;
	left: 100px;
	width: 170px;
	height: 25px; 
	font-size: 13pt;
	line-height: normal;
	vertical-align: middle;
	word-wrap: break-word;	
}

#achievMsg {
	position: relative;
	display: table-cell;
	top: -90px;
	left: 325px;
	margin-left: 25px;
	width: 250px;
	height: 100px;
	font-size: 11pt;
	line-height: normal;
	vertical-align: middle;
	word-wrap: break-word;
	color: black;
	font-weight: normal;
}

.achievCompleted {
	background-color: rgb(87, 191, 87);
	color: white;
	font-weight: bold;
}

    
/* ------------------------------------- Game ------------------------------------- */

#buy {	
	position: absolute;
	font-size: 11pt;
	line-height: 25px;
	left: 20px;
	top: 70px;
	width: 225px;
	height: 25px;
	z-index: 1;
	text-align: center;
	border: 1px #DDD solid;
	cursor: pointer; 
	cursor: hand;
}
#money-current {
	position: absolute;
	left: 265px;
	top: 70px;
	width: 150px;
	height: 25px;
	z-index: 2;
}
#save {
	position: absolute;
	font-size: 11pt;
	line-height: 25px;
	right: 0px;
	top: 100px;
	width: 100px;
	height: 25px;
	z-index: 1;
	text-align: center;
	border: 1px #DDD solid;
	cursor: pointer; 
	cursor: hand;
}

#load {
	position: absolute;
	font-size: 11pt;
	line-height: 25px;
	right: 0px;
	top: 135px;
	width: 100px;
	height: 25px;
	z-index: 1;
	text-align: center;
	border: 1px #DDD solid;
	cursor: pointer; 
	cursor: hand;
}

#requestNewFeature {
	position: absolute;
	font-size: 11pt;
	line-height: 25px;
	right: 110px;
	top: 100px;
	width: 200px;
	height: 25px;
	z-index: 1;
	text-align: center;
	border: 1px #DDD solid;
	cursor: pointer; 
	cursor: hand;
}

#milestone-label { 							
	position: absolute;
	font-size: 11pt;
	line-height: 25px;
	right: 0px;
	top: 70px;
	width: 250px;
	height: 25px;
	z-index: 1;
	text-align: right;
}

				/* ----- Labels ------ */

#slave-label, #factory-label, #corporation-label, #esports-label { 							
	position: absolute;
	font-size: 11pt;
	line-height: 25px;
	left: 20px;
	width: 200px;
	height: 25px;
	z-index: 1;
	text-align: center;
} 
#slave-label { 							
	top: 105px;
} 
#factory-label { 
	top: 140px;
} 
#corporation-label {
	top: 175px;
}
#esports-label {
	top: 210px;
}


				/* ----- Current ------ */

#slave-current, #factory-current, #corporation-current, #esports-current {
	position: absolute;
	line-height: 25px;
	left: 265px;
	width: 150px;
	height: 25px;
	z-index: 1;
}
#slave-current {
	top: 105px;
}
#factory-current {									
	top: 140px;
}
#corporation-current {									
	top: 175px;
}
#esports-current {									
	top: 210px;
}
					/* ----- Get ------ */

#slave-get, #factory-get, #corporation-get, #esports-get {	
	position: absolute;
	font-size: 11pt;
	line-height: 25px;
	left: 220px;
	width: 25px;
	height: 25px;
	z-index: 1;
	text-align: center;
	border: 1px #DDD solid;
	cursor: pointer; 
	cursor: hand;
}				
#slave-get {	
	top: 105px;
}
#factory-get {	
	top: 140px;
}
#corporation-get {	
	top: 175px;
}
#esports-get {	
	top: 210px;
}
			/* ----- Console ------ */

#console-toggle, #console-clear, #secretstash-toggle {
	position: absolute;
	font-size: 11pt;
	line-height: 25px;
	z-index: 100;
	text-align: center;
	border: 1px #DDD solid;
	cursor: pointer; 
	cursor: hand;
}
#console-toggle{
	left: 0px;
	bottom: 200px;
	width: 100px;
	height: 25px;
}
#console-clear{
	right: 0px;
	bottom: 200px;
	width: 100px;
	height: 25px;
}

#gamePage-toggle:hover, #achievementsPage-toggle:hover /*#TODOPage-toggle:hover,*/ {
	background: rgb(90, 145, 230);
    color: white;
	cursor: pointer; 
	cursor: hand;	
}

#gamePage-toggle:active, #achievementsPage-toggle:active /*#TODOPage-toggle:active,*/ {
	background: rgb(120, 200, 280);
    color: white;
	cursor: pointer; 
	cursor: hand;
}


#buy:hover, #save:hover, #load:hover, #requestNewFeature:hover, 
#slave-get:hover, #factory-get:hover, #corporation-get:hover, #esports-get:hover,
#console-toggle:hover, #console-clear:hover, #secretstash-toggle:hover {
	background-color:#DDD;
	cursor: pointer; 
	cursor: hand;	
}

#buy:active, #save:active, #load:active, #requestNewFeature:active, 
#slave-get:active, #factory-get:active, #corporation-get:active, #esports-get:active,
#console-toggle:active, #console-clear:active, #secretstash-toggle:active {
	background-color:#CCC;
	cursor: pointer; 
	cursor: hand;	
}


#console {
	position: absolute;
	overflow-y: scroll;
	font-size: 10pt;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 200px;
	z-index: 100;
	text-align: left;
	border-top: 1px #DDD solid;
	background-color: white;
}

#secretstash-toggle{
	left: 101px;
	bottom: 200px;
	width: 100px;
	height: 25px;
}


